<a href="https://colab.research.google.com/github/Junseokee/Algorithm/blob/main/220822.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2941 크로아티아 알파벳

문제
예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.

크로아티아 알파벳	변경
č	c=
ć	c-
dž	dz=
đ	d-
lj	lj
nj	nj
š	s=
ž	z=
예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.

입력
첫째 줄에 최대 100글자의 단어가 주어진다. 알파벳 소문자와 '-', '='로만 이루어져 있다.

단어는 크로아티아 알파벳으로 이루어져 있다. 문제 설명의 표에 나와있는 알파벳은 변경된 형태로 입력된다.

출력
입력으로 주어진 단어가 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

In [1]:
word = input()

ljes=njak

In [2]:
mateo = []
Luka = ["c=",'c=','dz=','d-','lj','nj','s=','z=']

for i in Luka:
  if i in word:
    print(i)
    mateo.append([i])
    print(mateo)

lj
[['lj']]
nj
[['lj'], ['nj']]
s=
[['lj'], ['nj'], ['s=']]

In [ ]:
for i in range(len(word)):
  mateo.append(word[i])
print(mateo)

['l', 'j', 'e', 's', '=', 'n', 'j', 'a', 'k']

In [16]:
string = ''

In [20]:
for i in mateo:
  string = ''
  string = "".join(i)
  if string in word:
    word = word.replace(string,'')
    print(string, word)

lj es=njak
nj es=ak
s= eak

In [13]:
if string in word:
  print('a')

a

In [36]:
word = input()
Luka = ["c=",'c-','dz=','d-','lj','nj','s=','z=']

for i in Luka:
  string = ''
  string = "".join(i)
  if string in word:
    word = word.replace(string,' ')
print(len(word))

c==c
3

## 1316 그룹단어체커
문제
그룹 단어란 단어에 존재하는 모든 문자에 대해서, 각 문자가 연속해서 나타나는 경우만을 말한다. 예를 들면, ccazzzzbb는 c, a, z, b가 모두 연속해서 나타나고, kin도 k, i, n이 연속해서 나타나기 때문에 그룹 단어이지만, aabbbccb는 b가 떨어져서 나타나기 때문에 그룹 단어가 아니다.

단어 N개를 입력으로 받아 그룹 단어의 개수를 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 단어의 개수 N이 들어온다. N은 100보다 작거나 같은 자연수이다. 둘째 줄부터 N개의 줄에 단어가 들어온다. 단어는 알파벳 소문자로만 되어있고 중복되지 않으며, 길이는 최대 100이다.

출력
첫째 줄에 그룹 단어의 개수를 출력한다.

In [50]:
N = int(input())

for i in range(N):
  word = input()
  for j in range(len(word-1)):
    if word[j] == word[j-1]
    
  # word_lst = list(dord.split(" "))
  # print(word_lst)

3
happy
 appy
h ppy
ha  y
ha  y
happ
new
 ew
n w
ne
year
 ear
y ar
ye r
yea

In [40]:
for i in word:
  dord = word.replace(i," ")
  print(dord)

 bc bc
a ca c
ab ab
 bc bc
a ca c
ab ab

In [ ]:
n = 0
for i in range(int(input())):
    word = input()
    if list(word) == sorted(word, key=word.find): #x.find = 먼저등장하는게 우선순위
        n+=1
print(n)

In [59]:
word = 'aacdefaaa'
a = list(word)
b = sorted(word,key=word.find) #x.find = 먼저등장하는게 우선순위
print(b)

['a', 'a', 'a', 'a', 'a', 'c', 'd', 'e', 'f']

In [58]:
# sorted() # 정렬함수 이터러블 데이터를 정렬된 리스트로 반환 (옵션 key=입력값을 기준으로 정렬, reverse=True 내림차순)
# 리스트.sort() => 본체리스트 정리, sorted는 새로운 리스트 반환
sorted(word)

['a', 'a', 'a', 'a', 'a', 'c', 'd', 'e', 'f']

## 1712 손익분기점
문제
월드전자는 노트북을 제조하고 판매하는 회사이다. 노트북 판매 대수에 상관없이 매년 임대료, 재산세, 보험료, 급여 등 A만원의 고정 비용이 들며, 한 대의 노트북을 생산하는 데에는 재료비와 인건비 등 총 B만원의 가변 비용이 든다고 한다.

예를 들어 A=1,000, B=70이라고 하자. 이 경우 노트북을 한 대 생산하는 데는 총 1,070만원이 들며, 열 대 생산하는 데는 총 1,700만원이 든다.

노트북 가격이 C만원으로 책정되었다고 한다. 일반적으로 생산 대수를 늘려 가다 보면 어느 순간 총 수입(판매비용)이 총 비용(=고정비용+가변비용)보다 많아지게 된다. 최초로 총 수입이 총 비용보다 많아져 이익이 발생하는 지점을 손익분기점(BREAK-EVEN POINT)이라고 한다.

A, B, C가 주어졌을 때, 손익분기점을 구하는 프로그램을 작성하시오.

입력
첫째 줄에 A, B, C가 빈 칸을 사이에 두고 순서대로 주어진다. A, B, C는 21억 이하의 자연수이다.

출력
첫 번째 줄에 손익분기점 즉 최초로 이익이 발생하는 판매량을 출력한다. 손익분기점이 존재하지 않으면 -1을 출력한다.

In [76]:
A, B, C = map(int,input().split(" "))

2100000000 9 10

In [82]:
A, B, C = map(int,input().split(" "))
if C>B:
  aws = int(A/(C-B)+1)
  print(aws)
else:
  print(-1)

1000 70 170
11

In [79]:
(x*C) > A+(B*x)
x = A/C-B
print(x)

NameError: ignored

In [83]:
a = int(1.8)
a

1

## 2292 벌집
위의 그림과 같이 육각형으로 이루어진 벌집이 있다. 그림에서 보는 바와 같이 중앙의 방 1부터 시작해서 이웃하는 방에 돌아가면서 1씩 증가하는 번호를 주소로 매길 수 있다. 숫자 N이 주어졌을 때, 벌집의 중앙 1에서 N번 방까지 최소 개수의 방을 지나서 갈 때 몇 개의 방을 지나가는지(시작과 끝을 포함하여)를 계산하는 프로그램을 작성하시오. 예를 들면, 13까지는 3개, 58까지는 5개를 지난다.

입력
첫째 줄에 N(1 ≤ N ≤ 1,000,000,000)이 주어진다.

출력
입력으로 주어진 방까지 최소 개수의 방을 지나서 갈 때 몇 개의 방을 지나는지 출력한다.

In [87]:
N = int(input())
a = N/6
print(a)
1 + 6
7 + 12
19 + 18
37 + 24
61 + 30
91

58
10

In [150]:
N = int(input())
a = 0 
b = 1
while True:
  b += 6*a
  a += 1
  if b >=N:
    break
print(a)

7
2

In [154]:
N = int(input())

a = 1
b = 1
while N>a:
  a += 6*b
  b += 1
print(b)

6
2