<a href="https://colab.research.google.com/github/Junseokee/Algorithm/blob/main/220816.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 4344 평균은 넘겠지

문제
대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

입력
첫째 줄에는 테스트 케이스의 개수 C가 주어진다.

둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

출력
각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

In [ ]:
C = int(input())
sum = 0
count = 0 
new = []
for i in range(C):
  N = list(map(int,input().split(" "))) 
  avg = N[1:]
  ravg = 0
  sum = 0
  for j in avg:
    sum = sum + int(j)
    ravg = sum/int(N[0])
    new = list(filter(lambda x: x>ravg, avg))
  high = len(new)/int(N[0])
  print('{0:0.3f}%'.format(high*100))

3
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%

In [ ]:
print(sum,avg,ravg)

1135 [70, 90, 80] 0 0

In [ ]:
new = list(filter(lambda x: x>ravg, avg))
len(new)

2

In [ ]:
int(N[0])

3

## 1065 한수
문제
어떤 양의 정수 X의 각 자리가 등차수열을 이룬다면, 그 수를 한수라고 한다. 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다. N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오. 

입력
첫째 줄에 1,000보다 작거나 같은 자연수 N이 주어진다.

출력
첫째 줄에 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력한다.

In [ ]:
def hansu(n):
  if n < 100:
    hs = n
  else:
    hs = 99
    for i in range(100, n+1):
      lst = list(map(int,str(i)))

      if lst[0] - lst[1] == lst[1] - lst[2]:
        hs = hs + 1
  return hs

n = int(input())
print(hansu(n))

210
105

## 11654 아스키코드

In [ ]:
chr = input()
print(ord(chr))

a
97

## 11720 숫자의 합
문제
N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

출력
입력으로 주어진 숫자 N개의 합을 출력한다.

In [ ]:
n = int(input())
lst = input()
sum = 0
sum_lst = []
for i in range(len(lst)):
  sum_lst = sum_lst + list(map(int,lst[i]))
for j in range(n):
  sum = sum + int(sum_lst[j])

print(sum)

11
10987654321
46

In [ ]:
sum = 0

sum

15

## 10809 알파벳 찾기
문제
알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 단어 S가 주어진다. 단어의 길이는 100을 넘지 않으며, 알파벳 소문자로만 이루어져 있다.

출력
각각의 알파벳에 대해서, a가 처음 등장하는 위치, b가 처음 등장하는 위치, ... z가 처음 등장하는 위치를 공백으로 구분해서 출력한다.

만약, 어떤 알파벳이 단어에 포함되어 있지 않다면 -1을 출력한다. 단어의 첫 번째 글자는 0번째 위치이고, 두 번째 글자는 1번째 위치이다.

In [8]:
s = input()

baekjoon

In [6]:
alpha = 'abcdefghijklmnopqrstuvwxyz'
lst = []
for i in alpha:
  a = s.find(i)
  lst = lst + list(map(int,[a]))
print(lst)
indexno = alpha.find(s)
print(indexno)

1

In [48]:
alpha = 'abcdefghijklmnopqrstuvwxyz'
s = input()
lst = []
for i in alpha:
  a = s.find(i)
  lst = lst + list(map(str,[a]))
strlst = ' '.join(lst)
print(strlst)

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [33]:
a

-1

In [27]:
for i in alpha:
  print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

## 2675 문자열 반복
문제
문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.

QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

입력
첫째 줄에 테스트 케이스의 개수 T(1 ≤ T ≤ 1,000)가 주어진다. 각 테스트 케이스는 반복 횟수 R(1 ≤ R ≤ 8), 문자열 S가 공백으로 구분되어 주어진다. S의 길이는 적어도 1이며, 20글자를 넘지 않는다. 

출력
각 테스트 케이스에 대해 P를 출력한다.

In [58]:
T = int(input())
for i in range(T):
  R,S = input().split(" ")
  for j in S:
    print(int(R)*j,end="")
  print("")

2
3 ABC
AAABBBCCC
5 /TPC
/////TTTTTPPPPPCCCCC