<a href="https://colab.research.google.com/github/Junseokee/Algorithm/blob/main/220816.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 4344 평균은 넘겠지

문제
대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

입력
첫째 줄에는 테스트 케이스의 개수 C가 주어진다.

둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

출력
각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

In [ ]:
C = int(input())
sum = 0
count = 0 
new = []
for i in range(C):
  N = list(map(int,input().split(" "))) 
  avg = N[1:]
  ravg = 0
  sum = 0
  for j in avg:
    sum = sum + int(j)
    ravg = sum/int(N[0])
    new = list(filter(lambda x: x>ravg, avg))
  high = len(new)/int(N[0])
  print('{0:0.3f}%'.format(high*100))

3
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%

In [ ]:
print(sum,avg,ravg)

1135 [70, 90, 80] 0 0

In [ ]:
new = list(filter(lambda x: x>ravg, avg))
len(new)

2

In [ ]:
int(N[0])

3

## 1065 한수
문제
어떤 양의 정수 X의 각 자리가 등차수열을 이룬다면, 그 수를 한수라고 한다. 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다. N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오. 

입력
첫째 줄에 1,000보다 작거나 같은 자연수 N이 주어진다.

출력
첫째 줄에 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력한다.

In [ ]:
def hansu(n):
  if n < 100:
    hs = n
  else:
    hs = 99
    for i in range(100, n+1):
      lst = list(map(int,str(i)))

      if lst[0] - lst[1] == lst[1] - lst[2]:
        hs = hs + 1
  return hs

n = int(input())
print(hansu(n))

210
105

## 11654 아스키코드

In [7]:
chr = input()
print(ord(chr))

a
97

## 11720 숫자의 합
문제
N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

출력
입력으로 주어진 숫자 N개의 합을 출력한다.

In [28]:
n = int(input())
lst = input()
sum = 0
sum_lst = []
for i in range(len(lst)):
  sum_lst = sum_lst + list(map(int,lst[i]))
for j in range(n):
  sum = sum + int(sum_lst[j])

print(sum)

11
10987654321
46

In [27]:
sum = 0

sum

15