<a href="https://colab.research.google.com/github/Junseokee/Algorithm/blob/main/220823.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1193 분수찾기
문제
무한히 큰 배열에 다음과 같이 분수들이 적혀있다.

1/1	1/2	1/3	1/4	1/5	…   
2/1	2/2	2/3	2/4	…	…   
3/1	3/2	3/3	…	…	…   
4/1	4/2	…	…	…	…   
5/1	…	…	…	…	…   
…	…	…	…	…	…   
이와 같이 나열된 분수들을 1/1 → 1/2 → 2/1 → 3/1 → 2/2 → … 과 같은 지그재그 순서로 차례대로 1번, 2번, 3번, 4번, 5번, … 분수라고 하자.   

X가 주어졌을 때, X번째 분수를 구하는    프로그램을 작성하시오.   

입력    
첫째 줄에 X(1 ≤ X ≤ 10,000,000)가 주어진다.    
 
출력    
첫째 줄에 분수를 출력한다.

In [ ]:
X = int(input())

1/1 - 1   i

1/2 - 2    i-1/i
2/1 - 3    i-1/i-2 
3/1 - 4    i-1/i-3 
2/2 - 5    i-3/i-3 

1/3 - 6    i-5/i-3 
1/4 - 7    i-6/i-3 
2/3 - 8    i-6/i-5 
3/2 - 9    i-6/i-7 
4/1 - 10   i-6/i-9 
5/1 - 11   i-6/i-10
4/2 - 12   i-8/i-10
3/3 - 13   i-10/i-10

2/4 - 14   i-12/i-10
1/5 - 15   i-14/i-10
1/6 - 16   i-15/i-10
2/5 - 17   i-15/i-12
3/4 - 18   i-15/i-14
4/3 - 19   i-15/i-16 
5/2 - 20   i-15/i-18 
6/1 - 21   i-15/i-20
7/1 - 22   i-15/i-21
6/2 - 23   i-17/i-21
5/3 - 24   i-19/i-21
4/4 - 25   i-21/i-21 

3/5 - 26   i-23/i-21

In [2]:
N = int(input())

a = 1
b = 1
while N>a:
  a += 4*b
  b += 1
print(b)

13
3

In [ ]:
x = int(input())
num_list = []
num = 0
num_count = 0

while num_count < x:
  num = num + 1
  num_count = num_count + num

num_count = num_count - num

if num % 2 == 0:
  j = x - num_count
  j = num - i + 1
else:
  j = num - (x - num_count) + 1
  j = x - num_count
print(f'{i}/{j}')

In [ ]:
n = int(input())
line = 1

while n > line:
    n -= line
    line += 1

if line % 2 == 0:
    up = n
    down = line - n + 1
else:
    up = line - n + 1
    down = n

print(up,'/',down, sep="")