<a href="https://colab.research.google.com/github/Junseokee/Algorithm/blob/main/220916.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2750 수 정렬하기

  문제
N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

입력
첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수 주어진다. 이 수는 절댓값이 1,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

출력
첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [10]:
N = int(input())
A = []
for i in range(N):
  A.append(int(input()))
  A = sorted(A)
for a in A:
  print(a)

5
4
3
2
1
1
2
3
4
5

In [9]:
A = sorted(A)

[1, 2, 3, 4, 5]

## 2751 수 정렬하기 2

문제
N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

입력
첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

출력
첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [ ]:
N = int(input())
A = []
for i in range(N):
  A.append(int(input()))
A.sort()
for a in A:
  print(a)

In [ ]:
def merge_sort(array):
  if len(array)<=1:
    return array
  mid = len(array)//2

  #left는 array리스트의 인덱스 0부터 mid전까지
  left = merge_sort(array[:mid]) 

  #right은 array리스트의 인덱스 mid부터 끝까지
  right = merge_sort(array[mid:])

  i, j, k = 0, 0, 0
  arr = []
  
  #둘중 하나조건에 부합하지 않을경우 while문 빠져나감 
  while i < len(left) and j < len(right): 
    if left[i] < right[j]:
      arr.append(left[i])
      i+=1
    else:
      arr.append(right[j])
      j+=1

#while문 빠져 나온 후, left혹은 right에 남은 요소들 arr에 넣어주기
  arr += left[i:] 
  arr += right[j:]
 
  return arr

N = int(input())
arr=[]

for _ in range(N):
  arr.append(int(input()))

arr = merge_sort(arr)

for i in arr:
  print(i)

## 25305 커트라인

문제
2022 연세대학교 미래캠퍼스 슬기로운 코딩생활에 $N$명의 학생들이 응시했다.

이들 중 점수가 가장 높은 $k$명은 상을 받을 것이다. 이 때, 상을 받는 커트라인이 몇 점인지 구하라.

커트라인이란 상을 받는 사람들 중 점수가 가장 가장 낮은 사람의 점수를 말한다.

입력
첫째 줄에는 응시자의 수 $N$과 상을 받는 사람의 수 $k$가 공백을 사이에 두고 주어진다.

둘째 줄에는 각 학생의 점수 $x$가 공백을 사이에 두고 주어진다.

출력
상을 받는 커트라인을 출력하라.

In [14]:
N, k = map(int,input().split(' '))
print(N,k)

5 2
5 2

In [15]:
score = []
for i in range(N):
  score.append(int(input()))

100
76
85
93
98

In [28]:
score.sort(reverse=True)

In [30]:
print(score[k-1])

98

In [32]:
N, k = map(int,input().split(' '))
print(N,k)
score = []

score.sort(reverse=True)
print(score[k-1])

5 2
5 2
100 76 85 93 98

IndexError: ignored

In [38]:
scr = input().split(' ')

100 76 85 93 98

In [43]:
N, k = map(int,input().split(' '))
score = []
scr = input().split(' ')
for i in scr:
  score.append(int(i))
score.sort(reverse=True)
print(score[k-1])

5 2
100 76 85 93 98
98