<a href="https://colab.research.google.com/github/Junseokee/Algorithm/blob/main/221111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 10807
문제
총 N개의 정수가 주어졌을 때, 정수 v가 몇 개인지 구하는 프로그램을 작성하시오.

입력
첫째 줄에 정수의 개수 N(1 ≤ N ≤ 100)이 주어진다. 둘째 줄에는 정수가 공백으로 구분되어져있다. 셋째 줄에는 찾으려고 하는 정수 v가 주어진다. 입력으로 주어지는 정수와 v는 -100보다 크거나 같으며, 100보다 작거나 같다.

출력
첫째 줄에 입력으로 주어진 N개의 정수 중에 v가 몇 개인지 출력한다.

In [12]:
N = int(input())
num = list(map(int,input().split(" ")))
sh = int(input())
print(num.count(sh))

11
1 4 1 2 4 2 4 2 3 4 4
5

0

In [18]:
count = 0
for i in num:
  if i == sh:
    count += 1
count

In [17]:
sh

5

## 과제 안 내신 분..? 5597
문제
X대학 M교수님은 프로그래밍 수업을 맡고 있다. 교실엔 학생이 30명이 있는데, 학생 명부엔 각 학생별로 1번부터 30번까지 출석번호가 붙어 있다.

교수님이 내준 특별과제를 28명이 제출했는데, 그 중에서 제출 안 한 학생 2명의 출석번호를 구하는 프로그램을 작성하시오.

입력
입력은 총 28줄로 각 제출자(학생)의 출석번호 n(1 ≤ n ≤ 30)가 한 줄에 하나씩 주어진다. 출석번호에 중복은 없다.

출력
출력은 2줄이다. 1번째 줄엔 제출하지 않은 학생의 출석번호 중 가장 작은 것을 출력하고, 2번째 줄에선 그 다음 출석번호를 출력한다.

In [32]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
b = []
c = []
for i in range(1,29):
  b.append(int(input()))

for i in a:
  if i not in b:
    c.append(i)
c.sort()
for i in c:
  print(i)

9
30
6
12
10
20
21
11
7
5
28
4
18
29
17
19
27
13
16
26
14
23
22
15
3
1
24
25
[2, 8]

In [33]:
c.sort()
c

[2, 8]

In [34]:
c.sort()
for i in c:
  print(i)

2
8

## 소수 2581
문제
자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

입력
입력의 첫째 줄에 M이, 둘째 줄에 N이 주어진다.

M과 N은 10,000이하의 자연수이며, M은 N보다 작거나 같다.

출력
M이상 N이하의 자연수 중 소수인 것을 모두 찾아 첫째 줄에 그 합을, 둘째 줄에 그 중 최솟값을 출력한다. 

단, M이상 N이하의 자연수 중 소수가 없을 경우는 첫째 줄에 -1을 출력한다.

In [35]:
M = int(input())
N = int(input())

60
100

In [66]:
import math

M = int(input())
N = int(input())

# 소수 판별 함수(에라토스테네스의 체)
def prime_number(n):
  # 2부터 n까지의 모든 수에 대하여 소수 판별
  array = [True for i in range(n+1)]
  # 에라토스테네스의 체 (2 부터 n의 제곱근까지의 모든 수 확인)
  for i in range(2, int(math.sqrt(n)) + 1):
    # i가 소수인 경우
    if array[i] == True:
      # i를 제외한 i의 모든 배수를 지우기
      j = 2
      while i * j <= n:
        array[i*j] = False
        j += 1
  return [ i for i in range(2,n+1) if array[i]]

lst = prime_number(N)
Mlst = []
for i in lst:
  if i >=M:
    Mlst.append(i)
if len(Mlst)!=0:
  print(sum(Mlst))
  print(min(Mlst))  
else:
  print(-1)

64
65
-1

In [48]:
import math

n = 100
m = 60
array = [True for i in range(n+1)]
# 에라토스테네스의 체 (2 부터 n의 제곱근까지의 모든 수 확인)
for i in range(2, int(math.sqrt(n)) + 1):
  # i가 소수인 경우
  if array[i] == True:
    # i를 제외한 i의 모든 배수를 지우기
    j = 2
    while i * j <= n:
      array[i*j] = False
      j += 1
    [ i for i in range(2,n+1) if array[i]]

SyntaxError: ignored

In [63]:
M = 100
N = 60
lst = prime_number(M)
Mlst = []
for i in lst:
  if i >=N:
    Mlst.append(i)
print(sum(Mlst))
print(min(Mlst))

620
61

620