<a href="https://colab.research.google.com/github/Junseokee/Algorithm/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코딩테스트 꿀팁

In [ ]:
# 리스트 거꾸로 출력하는 법 lst[::-1], reverse
lst = [1,2,4,5,6,7,568,69,34]
print(lst[::-1])
lst.reverse()
print(lst)

[34, 69, 568, 7, 6, 5, 4, 2, 1]
[34, 69, 568, 7, 6, 5, 4, 2, 1]

In [ ]:
# 배열안에 특정 수 찾기
def solution(array, n):
    answer = array.count(n)
    return answer

In [ ]:
# 문자열에서 특정 문자 제거하기 
def solution(my_string, letter):
    my_string = my_string.replace(letter,'')
    return my_string

In [ ]:
# 문자열에서 join 함수 사용
def solution(my_string, n):
    s = []
    for i in my_string:
        s.append(i*n)
    answer = ''.join(s)
    return answer

In [ ]:
# 버림함수
import math
print(math.floor(-128.59)) # 내림
print(math.trunc(-128.59)) # 소수점 버림

-129
-128

In [ ]:
# 제곱근 구하는 방법
print(math.sqrt(144))
print(144**0.5)

12.0
12.0

In [ ]:
# if문 간결하게 표현
1 if (math.sqrt(104)).is_integer() else 2

2

In [ ]:
# divmod(num1,num2) # num1을 num2 로 나눈 몫과 나머지를 출력하는 함수
def solution(hp):
    answer = 0
    for ant in [5, 3, 1]:
        d, hp = divmod(hp, ant)
        answer += d
    return answer

In [ ]:
# 문자열에서 숫자인지 확인하는 함수
def solution(my_string):
    return sum(int(i) for i in my_string if i.isdigit())
    
a = '1awd120rj01089s'
a[0].isdigit()

True

In [ ]:
# 대소문자 판별 islower, isupper
def solution(my_string):
    answer = []
    for i in my_string:
        if i.islower():
            answer.append(i.upper())
        else: answer.append(i.lower())
    return ''.join(answer)

In [ ]:
10*8*6 / 27

17.77777777777778

In [ ]:
# dict 사용
def solution(age):
    num = [i for i in str(age)]
    answer = []
    age_lst = {'0':'a','1':'b','2':'c','3':'d','4':'e',
           '5':'f','6':'g','7':'h','8':'i','9':'j'}
    for i in num:
        if i in age_lst.keys():
            answer.append(age_lst[i])

    return ''.join(answer)

In [ ]:
# 피자 6조각을 똑같이 나눠먹기

def solution(n):
    answer = 1
    while (answer*6) % n !=0:
        answer +=1
    return answer

In [ ]:
# 문자열 인덱스 변경
def solution(my_string, num1, num2):
    s = list(my_string)
    s[num1],s[num2] = s[num2],s[num1]
    return ''.join(s)

In [ ]:
# 문자열안의 특정 문자 갯수 세기
def solution(order):
    answer = 0
    order = str(order)
    return order.count('3') + order.count('6') + order.count('9')

In [ ]:
# 전부 소문자로 바꾸고 정렬
def solution(my_string):
    return ''.join(sorted(my_string.lower()))

In [4]:
n = 10
m = 10
while n:
  print(m%n)
  n = n-1

0
1
2
3
4
0
2
1
0
0

In [ ]:
# 합성수(약수가 3개 이상) 갯수 찾기
def solution(n):
    output = 0
    for i in range(4, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i % j == 0:
                output += 1
                break
    return output